body {
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background: #f2f2f2;
}

header {
  text-align: center;
  padding: 20px;
}

nav {
  text-align: center;
  margin: 20px 0;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

article {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: gray;
}
bss-sguc-htp
